body {
  display: flex;
  justify-content: center;
}

.container {
  width: 70%;
}

.div_img_capacitor {
  display: flex;
  justify-content: center;
}

.img_capacitor {
  width: 200px;
  align-self: center;
}
